<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> MOVIE SEARCH </h1>
		<form action='/results' method='GET'>
			<input type='text' name='search' placeholder='search your movie ...'>
			<button class='btn btn-info'>Search</button>
		</form>
	</div>
</div>

<%- include ('templates/footer'); -%>